/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

:root {
  --color-main: #212529;
  --color-details: #d3f13a;
  --color-error: #f13a3a;
  --color-text: #4f5b67;
  --color-cold: #eaecee;
  --color-base: #ffffff;
}

html,
body {
  background-color: #fefefe;
  color: rgb(35, 35, 35);
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  height: 100vh;
}

.isLoading {
  /* display: none; */
  color: #fefefe;
}
.navbar {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 30px 20px;
  background-color: var(--color-main);
}

.logo-wrapper {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 40px 0;
}

.btn-create-notes {
  width: 100%;
  border-radius: 5px;
  background-color: var(--color-details);
  color: var(--color-main);
  height: 40px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: bold;
}

.btn-create-notes:hover {
  background-color: var(--color-cold);
  color: var(--color-main);
}
.divider {
  width: 150px;
  height: 1px;
  background-color: var(--color-base);
}

.list-notes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card {
  cursor: pointer;
  width: 300px;
  max-width: 300px;
  height: 80px;
  padding: 10px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  /* padding: 8px 12px; */
  border-radius: 5px;
  background-color: var(--color-base);
  transition: all 0.2s;
}
.card:hover {
  background-color: var(--color-cold);
}

.card-selected {
  background-color: var(--color-details);
  color: var(--color-main);
}
.card-selected:hover {
  background-color: var(--color-details);
}
.card-title {
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  color: var(--color-main);
  margin-bottom: 10px;
}
.card-description {
  font-size: 10px;
  width: 250px;
  font-weight: thin;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: var(--color-text);
  line-height: 1.6;
}

/* Content */

.content {
  background-color: var(--color-base);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 60px;
  flex: 1;
  height: 100vh;
}

.note-title {
  font-weight: bold;
  font-size: 45px;
  cursor: pointer;
  color: var(--color-main);
  margin-bottom: 10px;
}

.note-description {
  font-weight: thin;
  font-size: 16px;
  cursor: pointer;
  color: var(--color-text);
  margin-top: 20px;
  line-height: 1.5;
  word-spacing: 5px;
}
